<div class="container">
  <h2 class="titulo">VOCÊ ESTÁ PRONTO?</h2>
  <div class="botoes">
    <div class="opcao">
      <div class="icone">
        <img src="assets/imglanding/bloco-acao/vaga.png" alt="Vaga">
      </div>
      <button [routerLink]="['/cadastro']" class="botao">Publicar Vaga</button>
    </div>
    <div class="vertical-line"></div>
    <div class="opcao">
      <div class="icone">
        <img src="assets/imglanding/bloco-acao/curriculo.png" alt="Currículo">
      </div>
      <button [routerLink]="['/cadastro']" class="botao">Publicar Currículo</button>
    </div>
  </div>
</div>
