<div class="slideshow-container">
  <div class="slide" [hidden]="i !== 0">
    <div class="textprincipal">
      <img src="assets/imglanding/comofunciona/contratado.png" alt="Ícone de uniforme de trabalho" class="icon" />
      <h1>Como Funciona?</h1>
    </div>
    <div class="content">
      <div class="item">
        <img src="assets/imglanding/comofunciona/perfil.png" alt="Icone de perfil" class="icon2"/>
        <h2>Crie seu perfil</h2>
        <p>Cadastre-se gratuitamente e preencha seu currículo.</p>
      </div>

      <div class="item">
        <img src="assets/imglanding/comofunciona/maleta.png" alt="Icone de mala" class="icon2" />
        <h2>Busque vagas</h2>
        <p>Encontre oportunidades na sua área e região.</p>
      </div>

      <div class="item">
        <img src="assets/imglanding/comofunciona/contrato.png" alt="Icone de contrato" class="icon2"/>
        <h2>Candidate-se</h2>
        <p>Envie seu currículo com poucos cliques.</p>
      </div>

      <div class="item">
        <img src="assets/imglanding/comofunciona/contato.png" alt="Ícone de caixinhas de dialogo" class="icon2" />
        <h2>Aguarde contato</h2>
        <p>As empresas entrarão em contato se o seu perfil for selecionado.</p>
      </div>
    </div>
  </div>

  <div class="slide" [hidden]="i !== 1">
    <div class="textprincipal">
      <img src="assets/imglanding/comofunciona/office.png" alt="Ícone de uma empresa" class="icon" />
      <h1>Como Funciona?</h1>
    </div>
    <div class="content">
      <div class="item">
        <img src="assets/imglanding/comofunciona/perfil.png" alt="Icone de perfil" class="icon2" />
        <h2>Crie seu perfil</h2>
        <p>Cadastre-se gratuitamente e acesse o painel da empresa.</p>
      </div>

      <div class="item">
        <img src="assets/imglanding/comofunciona/maleta.png" alt="Icone de uma maleta" class="icon2"/>
        <h2>Publique vagas</h2>
        <p>Descreva os requisitos e encontre candidatos ideais.</p>
      </div>

      <div class="item">
        <img src="assets/imglanding/comofunciona/trato.png" alt="Icone de um contrato" class="icon2"/>
        <h2>Receba candidaturas</h2>
        <p>Veja currículos e selecione os melhores perfis.</p>
      </div>

      <div class="item">
        <img src="assets/imglanding/comofunciona/tel.png" alt="Icone de um celular" class="icon2"/>
        <h2>Contrate com facilidade</h2>
        <p>Entre em contato e finalize a contratação diretamente pelo site.</p>
      </div>
    </div>
  </div>

  <div class="dots">
    <span class="dot" [class.active]="i === 0" (click)="setSlide(0)"></span>
    <span class="dot" [class.active]="i === 1" (click)="setSlide(1)"></span>
  </div>
</div>
