<div class="content">
  <div class="item">
    <img src="assets/imglanding/perfil.png" alt="Icone">
    <h2>Crie seu perfil</h2>
    <p>Cadastre-se gratuitamente e preencha seu currículo.</p>
  </div>

  <div class="item">
    <img src="assets/imglanding/maleta.png" alt="Icone">
    <h2>Busque vagas</h2>
    <p>Encontre oportunidades na sua área e região.</p>
  </div>

  <div class="item">
    <img src="assets/imglanding/contrato.png" alt="Icone">
    <h2>Candidate-se</h2>
    <p>Envie seu currículo com poucos cliques.</p>
  </div>

  <div class="item">
    <img src="assets/imglanding/contato.png" alt="Icone">
    <h2>Aguarde contato</h2>
    <p>As empresas entrarão em contato se o seu perfil for selecionado.</p>
  </div>

 </div>
