<div class="overlay"></div>
<div class="container">
  <div class="center-content">
    <div class="head">
      <button
        class="logo-btn"
        style="cursor: pointer; background: transparent; border: transparent"
      >
        <img src="assets/logo.png" class="logo" alt="Logo" />
      </button>
      <div class="step1">
        <span></span>
        <p>1° Etapa</p>
      </div>
      <div class="step2">
        <span></span>
        <p>2° Etapa</p>
      </div>
      <div class="step3">
        <span></span>
        <p>3° Etapa</p>
      </div>
    </div>
    <div class="main-content">
      <div class="title">COMPLETE SEU PERFIL</div>
      <div class="center">
        <div
          class="right"
          [ngStyle]="{
            backgroundColor: getBackgroundColor('contratado'),
            color: getFontColor('contratado')
          }"
          (click)="selecionarBotao('contratado')"
        >
          <p>Eu quero ser <br /> contratado </p>
        </div>
        <div
          class="left"
          [ngStyle]="{
            backgroundColor: getBackgroundColor('contratar'),
            color: getFontColor('contratar')
          }"
          (click)="selecionarBotao('contratar')"
        >
          <p>Eu quero <br /> contratar </p>
        </div>
      </div>
      <div class="send-button">
        <button [routerLink]="['/primeira-etapa']">Voltar</button>
        <button 
          [routerLink]="['/terceira-etapa']" 
          [disabled]="!selectedButton" 
          [ngClass]="{ 'disabled': !selectedButton }">Próximo</button>
      </div>
      <div class="send"></div>
    </div>
    <div class="footer"></div>
  </div>
</div>
