*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100px;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.container{
  background-image: url("../../../assets/etapas/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.center-content{
  background-color: white;
  width: 45em;
  height: 28em;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding-top: 15px;
  z-index: 10;
}

.head{
  display: flex;
  width: 90%;
  gap: 1.5em;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.step1, .step2, .step3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.step1 span, .step2 span, .step3 span{
  margin-bottom: 5px;
  background-color: rgb(199, 199, 199);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 12.5em;
  height: .5em;
  border-radius: 100px;
}

.step1 span, .step2 span{
  background-color: blue;
}

.main-content{
  width: 90%;
  height: 20em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
}

.title{
  font-size: 20px;
  font-weight: 600;
}

.indicate-text{
  font-weight: 500;
}

.center{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 2em;
  height: 15em;
}

.right, .left{
  background-color: #d1d1d1;
  width: 12em;
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
}

.right:hover, .left:hover{
  background-color: #e4e4e4;
}
.img-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:8em;
  padding: 10px;
}

.img-content .plus{
  position: relative;
  right: -2em;
  top: -3em;
  cursor: pointer;
}

.form{
  height: 5em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
}

.input-text input{
  text-decoration: none;
  border: none;
  border-bottom: 1.5px solid black;
  width: 18em;
  height: 1.8em;
  background-color: transparent;
  font-size: 18px;
  font-weight: 500;
}

.send-button{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}
.send-button button{
  background-color: #2E3FFF;
  border: none;
  padding: 10px;
  width: 7.5em;
  border-radius: 10px;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

button.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

*:focus {
  outline: none;
}
