* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.container {
  background-image: url("../../../assets/etapas/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.center-content {
  background-color: white;
  width: 45em;
  height: 28em;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding-top: 15px;
  z-index: 10;
}

.head {
  display: flex;
  width: 90%;
  gap: 1.5em;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.step1, .step2, .step3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.step1 span, .step2 span, .step3 span {
  margin-bottom: 5px;
  background-color: rgb(199, 199, 199);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 12.5em;
  height: .5em;
  border-radius: 100px;
}

.step1 span, .step2 span, .step3 span {
  background-color: blue;
}

.main-content {
  width: 90%;
  height: 20em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
}

.title {
  font-size: 20px;
  font-weight: 600;
}

.indicate-text {
  font-weight: 500;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  height: 15em;
}

.title p {
  font-weight: 500;
  font-size: 17px;
}

.right {
  display: flex;
  flex-direction: column;
  padding: 16px;
  background-color: #f3f4f6;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 300px;
}

.label {
  margin-bottom: 8px;
  font-weight: 500;
  color: #333;
}

.custom-input {
  position: relative;
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  display: inline-block;
  width: 20em;
  background-color: transparent;
  border-radius: 8px;
  padding: 12px 16px;
  box-sizing: border-box;
  box-shadow: none; 
}

.styled-input {
  width: 100%;
  background-color: transparent;
  color: #333;
  font-size: 16px;
  font-weight: 500;
  border: none;
  outline: none;
  box-sizing: border-box;
  transition: background-color 0.3s ease;
}

.styled-input:focus {
  background-color: #e0e0e0;
  box-shadow: none !important; 
  outline: none !important; 
}

.img-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 8em;
  padding: 10px;
}

.img-content .plus {
  position: relative;
  right: -2em;
  top: -3em;
  cursor: pointer;
}

.form {
  height: 5em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
}

.input-text input {
  text-decoration: none;
  border: none;
  border-bottom: 1.5px solid black;
  width: 18em;
  height: 1.8em;
  background-color: transparent;
  font-size: 18px;
  font-weight: 500;
  box-shadow: none; 
}

.send-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

.send-button button {
  background-color: #2E3FFF;
  border: none;
  padding: 10px;
  width: 7.5em;
  border-radius: 10px;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

*:focus {
  outline: none;
}


.styled-input {
  width: 100%;
  background-color: transparent;
  color: #333;
  font-size: 16px;
  font-weight: 500;
  border: none;
  outline: none;
  box-sizing: border-box;
  transition: background-color 0.3s ease;
}

.styled-input:focus {
  background-color: transparent;
  box-shadow: none !important;
  outline: none !important; 
}