
.cadastro-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  margin : 0;
  padding: 0;
  height: 100vh;
  background-color: #f5f5f5;
  overflow: hidden;
}

.cadastro-left {
  flex: 1;
  position: relative;
}

.cadastro-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100px;
}

.cadastro-right {
  flex: 1;
  padding: 90px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 26px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  position: relative;
  width: 100%;
}

input {
  padding: 10px 0;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  width: 100%;
  font-size: 16px;
  background-color: transparent;
  transition: border-color 0.3s;
}

input:focus {
  border-bottom-color: #2E3FFF;
}

.password-container {
  position: relative;
}

.show-password {
  position: absolute;
  top: 10px;
  right: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.show-password img {
  width: 24px;
  height: 24px;
}

.btn-primary {
  background-color: #2E3FFF;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  max-width: 240px;
  align-self: center;
  margin-bottom: 20px;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #1f2bcc;
}

.or-text {
  text-align: center;
  font-size: 14px;
  color: #777;
  margin-bottom: 10px;
}

.register-text a {
  color: #2E3FFF;
  text-decoration: none;
  font-weight: bold;
}

.register-text a:hover {
  text-decoration: underline;
}

.terms-container {
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #333;
  margin-bottom: 20px;
  max-width: 100%;
}

.terms-container input {
  margin: 0;
  width: 16px;
  height: 16px;
}

.terms-container a {
  font-size: 13px;
  color: #2E3FFF;
  text-decoration: none;
  font-weight: 500;
}

.terms-container a:hover {
  text-decoration: underline;
}


.btn-google {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: transparent;
  margin-bottom: 15px;
}

.btn-google img {
  width: 30px;
}
