<div class="overlay"></div>
<div class="container">
  <div class="center-content">
    <div class="head">
      <button
        class="logo-btn"
        style="cursor: pointer; background: transparent; border: transparent"
      >
        <img src="assets/logo.png" class="logo" alt="Logo" />
      </button>

      <div class="step1">
        <span></span>
        <p>1° Etapa</p>
      </div>
      <div class="step2">
        <span></span>
        <p>2° Etapa</p>
      </div>
      <div class="step3">
        <span></span>
        <p>3° Etapa</p>
      </div>
    </div>
    <div class="main-content">
      <div class="title">COMPLETE SEU PERFIL</div>
      <div class="center">
        <div class="img-content">
          <img src="assets/etapas/perfil.png" width="150px" height="150px">
          <img class="plus" src="assets/etapas/PlusIcon.png" width="30px" height="30px">
        </div>
        <div class="indicate-text">
          Nome completo:
        </div>
      </div>
      <div class="form">
        <div class="input-text">
          <input type="text" #nomeInput>
        </div>
      </div>
      <div class="send-button">
        <button (click)="verificarNome(nomeInput)">Próximo</button>
      </div>
      <div class="send"></div>
    </div>
    <div class="footer"></div>
  </div>
</div>
  