<div class="cadastro-container">
  <div class="cadastro-left">
      <img src="assets/cadastro/password.jpg" class="cadastro-image" alt="Imagem de fundo">
      <img src="assets/logo.png" class="logo" alt="Logo">
  </div>

  <div class="cadastro-right">
      <h2>Redefinir Senha</h2>

      <p class="instruction-text">Digite seu e-mail para receber um link de redefinição de senha.</p>

      <div class="input-container">
          <input type="email" placeholder="E-mail" [(ngModel)]="email">
      </div>

      <button class="btn-primary" (click)="sendResetLink()">Enviar Link</button>

      <p class="register-text">
          Lembrou sua senha? <a  [routerLink]="['/login']" >Entrar</a>
     </p>
  </div>
</div>
