<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Oportuniza</title>
    <link rel="stylesheet" href="/src/styles.css">
  </head>
  <body>
    <header>
      <nav>
        <img src="assets/imglanding/logo.png" alt="Logo da empresa" />
        <ul>
          <li><a href="#inicio">Início</a></li>
          <li><a href="#sobre">Sobre</a></li>
          <li><a href="#vagas">Vagas</a></li>
          <li><a>|</a></li>
        </ul>
        <div class="menu-right">
          <a href="#" class="btn">Cadastre-se agora</a>
          <a href="#">Entrar</a>
        </div>
      </nav>
    </header>

    <main>
      <section class="hero">
        <video autoplay loop muted playsinline class="background-video">
          <source src="assets/imglanding/video-fundo.mp4" type="video/mp4" />
        </video>

        <div class="hero-content">
          <h1>Encontre as melhores oportunidades de trabalho perto de você e conquiste seu próximo emprego!</h1>
          <p>Conectamos trabalhadores e empresas da sua região para facilitar contratações em serviços essenciais.</p>
          <a href="#saiba-mais" class="btn btn-primary">Saiba mais</a>
        </div>
      </section>
    </main>
  </body>
</html>
