@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap");

body,
ul,
li,
h1,
p {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}

body {
  margin: 0;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, 0.32);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.8px);
  -webkit-backdrop-filter: blur(5.8px);
  padding: 0;
}

header nav img {
  width: 100px;
}

header nav {
  display: flex;
  align-items: center;
  max-width: 1200px;
  justify-content: space-around;
}

header nav ul {
  list-style: none;
  display: flex;
}

header nav ul li {
  margin-right: 100px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

.menu-right a {
  font-size: 18px;
  color: white;
  text-decoration: none;
  margin-right: 50px;
  font-weight: 500;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero-content {
  position: relative;
  margin-top: 12%;
  z-index: 1;
  color: white;
  text-align: left;
  left: 60px;
  padding: 20px;
}

.hero-content h1 {
  font-size: 30px;
  text-transform: uppercase;
  line-height: 1.3;
  max-width: 40%;
}

.hero-content p {
  font-size: 16px;
  line-height: 1.5;
  max-width: 40%;
}

.hero-content a {
  background: #2E3FFF;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;

}
