<div class="overlay"></div> 

<div class="container">
  <h2 class="title">TERMO DE USO E POLÍTICA DE PRIVACIDADE</h2>
  <div class="content-box">
    <div class="content">
      <h3>1. Introdução</h3>
      <p>
        Bem-vindo ao Oportuniza, uma plataforma que conecta trabalhadores
        essenciais, como babás, faxineiros, empacotadores de mercado, entre
        outros, a empregadores que necessitam desses serviços. Ao acessar e
        utilizar o nosso site, você concorda com os termos descritos abaixo.
      </p>
      <h3>2. Aceitação dos Termos</h3>
      <p>
        Ao utilizar o Oportuniza, você declara que leu, entendeu e concorda com
        todos os termos e condições deste documento. Caso não concorde, por favor,
        não utilize a plataforma.
      </p>

      <h3>3. Cadastro e Responsabilidades</h3>
      <p>
        Para utilizar alguns recursos do site, é necessário realizar um cadastro,
        fornecendo informações verdadeiras e atualizadas. O usuário é responsável
        por manter a segurança de sua conta e senha. O site não se responsabiliza
        por informações falsas inseridas pelos usuários.
      </p>

      <h3>4. Uso Adequado da Plataforma</h3>
      <p>
        O site deve ser utilizado apenas para fins lícitos e de acordo com a
        legislação vigente. É proibido o uso do site para disseminar conteúdo
        ofensivo, discriminatório ou ilegal. Qualquer violação pode resultar na
        exclusão da conta do usuário.
      </p>

      <h3>5. Privacidade e Proteção de Dados</h3>
      <p>
        Coletamos dados pessoais como nome, telefone e e-mail apenas para conectar
        candidatos a empregadores. As informações são armazenadas de forma segura
        e não serão vendidas ou compartilhadas sem consentimento. Utilizamos
        cookies para melhorar a experiência do usuário.
      </p>

      <h3>6. Direitos e Deveres dos Usuários</h3>
      <p>
        O usuário tem o direito de solicitar a exclusão de seus dados a qualquer
        momento. O site não garante a contratação dos candidatos, sendo apenas um
        intermediário.
      </p>

      <h3>7. Modificação dos Termos</h3>
      <p>
        O Oportuniza pode modificar os termos e políticas de privacidade a
        qualquer momento, notificando os usuários por meio do site.
      </p>

      <h3>8. Contato</h3>
      <p>
        Para dúvidas ou solicitações relacionadas a este documento, entre em
        contato pelo e-mail: suporte&#64;oportuniza.com.
      </p>

      <h3>9. Legislação Aplicável</h3>
      <p>
        Este termo é regido pelas leis brasileiras e qualquer disputa será
        resolvida no foro competente da cidade do usuário ou da sede da
        plataforma.
      </p>
    </div>
  </div>
  <button [routerLink]="['/cadastro']" class="fixed-button">Aceitar e Continuar</button>
</div>
