<section class="depoimentos">
  <h2>DEPOIMENTOS</h2>
  <div class="carrossel">
      <div class="card">
          <div class="card-info">
            <img src="assets/imglanding/depoimentos/sofia.png" alt="Sofia Teixeira">
            <div class="info-text">
              <h3>SOFIA TEIXEIRA</h3>
              <p class="stars">★★★★★</p>
            </div>
          </div>
          <p class="texto">"Graças à Oportuniza, consegui um emprego em poucos dias! O site é super fácil de usar e me conectou diretamente com empresas da minha região. Recomendo para quem está buscando novas oportunidades!"</p>
      </div>

      <div class="card">
          <div class="card-info">
            <img src="assets/imglanding/depoimentos/gustavo.png" alt="Gustavo Domingues">
            <div class="info-text">
              <h3>GUSTAVO DOMINGUES</h3>
              <p class="stars">★★★★★</p>
            </div>
          </div>
          <p class="texto">"Estava há meses procurando emprego e nada... até que conheci a Oportuniza! Consegui uma vaga rapidamente e estou muito feliz no meu novo trabalho. Melhor plataforma de empregos!"</p>
      </div>

      <div class="card">
          <div class="card-info">
            <img src="assets/imglanding/depoimentos/cibelle.png" alt="Cibelle Gonçalves">
            <div class="info-text">
              <h3>CIBELLE GONÇALVES</h3>
              <p class="stars">★★★★★</p>
            </div>
          </div>
          <p class="texto">"Eu precisava de uma equipe confiável para minha loja e encontrei excelentes profissionais na Oportuniza. O processo de seleção foi rápido e eficiente. Adorei a experiência!"</p>
      </div>
  </div>
</section>
